body {
    font-family: Arial;
    text-align: center;
}

#sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    gap: 2px;
    justify-content: center;
    margin-top: 20px;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.fixed {
    background-color: #ddd;
    font-weight: bold;
}

.error {
    background-color: #ffb3b3;
}